/*Mobile Responsive*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --inter-font:'Inter', sans-serif;
    --white: #FFFFFF;
    --blue: #2951E3;
    --background: #0C111A;
    --text-color: rgba(255, 255, 255, 0.6);
    --celeste: #CED9FF;
    --blue-secondary: #121F48;
}

.cr-icon{
    display: inline-block;
    width: 18px;
    height: 18px;   
    margin-left: 1.5rem;
    background-image:url('../assets/icons/CR-icon.svg');
}

header .head {
    width: 100%;
    min-width: 320px;
    display: flex;
    height: 80px;
    background: var(--background);
    justify-content: space-around;
    align-items: center;
}

header .head .head__logo {
    width: 47px;
    height: 47px;
}

header .head .head__cta-comunity {
    display: flex;
    background: var(--blue);
    padding: 15px 20px;
    border-radius: 1000px;
    border: none;
    color: var(--white);

    font-style: normal;
    font-family: var(--inter-font);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.7rem;
    align-items: center;
}

.above {
    width: 100%;
    min-width: 320px;
    background: var(--background);
    display: flex;
    justify-content: center;
    padding-top: 6.0rem;
    padding-bottom: 4.5rem;
}
.above-cointain {
    width: 90%;
    min-width: 320px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.above-cointain h1 {
    margin-bottom: 2.0rem;

    color: var(--white);

    font-family: var(--inter-font);
    font-style: normal;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 4.2rem;
}

.above-cointain p {
    width: 80%;
    font-family: var(--inter-font);
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: var(--text-color);
}


.above .above-cointain button {
    display: flex;
    padding: 15px 20px;
    border-radius: 1000px;
    border: none;
    background: var(--blue);

    font-family: var(--inter-font);
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.8rem;  

    color: var(--white);
    align-items: center;

    margin-top: 3.5rem;
}

.localice {
    display: flex;
    width: 100%;
    min-width: 320px;
    background: var(--background);
    padding-top: 1rem;
    padding-bottom: 5.5rem;
    justify-content: center;
}

.localice .localice-cointainer {
    display: flex;
    min-width: 320px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.localice .localice-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: flex-start;
}

.pic_cont {
    display: inline-block;
    width: 100%;
    min-width: 320px;
    height: auto; 
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.pic_dc {
    display: block;
    width: 90%;
    position: relative;
    min-width: 230px;
    margin: 0rem auto 8rem;
}


.localice .localice-cointainer .localice-content h3 {
    font-family: var(--inter-font);

    font-style: normal;
    font-weight: 600;
    font-size: 3.4rem;
    line-height: 4.1rem;

    color: var(--white);

    margin-bottom: 2.0rem;
}

.localice .localice-cointainer .localice-content p {
    font-family: var(--inter-font);
    font-style: normal;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 2.1rem;  

    color: var(--text-color);

    margin-bottom: 2.5rem;
}

.localice .localice-cointainer .localice-content .cta-secondary {
    font-style: normal;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 2.2rem;
    padding: 1rem 1.5rem;

    border: none;
    border-radius: 1000px;
    background: var(--blue-secondary);
    color: var(--celeste);
}
